pandas
matplotlib
Jinja2
plotly
seaborn
gradio_client
tree_sitter_python
tree_sitter
omegaconf==2.4.0.dev3
antlr4-python3-runtime==4.11
numpy<2
transformers>=4.45.0
lm_eval==0.4.3
torch>=2.4,<2.5
torchvision>=0.19.0,<=0.20.0  # Compatible with torch 2.4-2.5
ai2-olmo==0.6.0
einops
pygsheets
bitsandbytes
fsspec==2023.5.0
boto3
langdetect
immutabledict
smart-open
wandb
alpaca_eval
litellm
tenacity
tree-sitter
tree-sitter-python
gradio-client
beaker-py
beaker-gantry
git+https://github.com/allenai/OLMo-ladder@datados#egg=ladder[plotting] # model ladder
pandas
numpy
tqdm
matplotlib
ipython
ipywidgets
jupyter
ai2-olmo
transformers
huggingface_hub
datasets
ipywidgets